@model BlinBerry.Services.Common.SelesReport.Models.SeleTransactionDto

<form asp-action="CreateNewReportAsync">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <input asp-for="@Model.Id" type="hidden" />
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="CountOfKg" class="control-label">Продано кг</label>
                <input id="countOfKg" onchange="changeProfit()"  asp-for="CountOfKg" class="form-control" />
                <span asp-validation-for="CountOfKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefectiveKg" class="control-label">Браков кг</label>
                <input asp-for="DefectiveKg" class="form-control" />
                <span asp-validation-for="DefectiveKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalProfit" class="control-label">Сумма прибыли</label>
                <input id="totalProfit" asp-for="TotalProfit" class="form-control" />
                <span asp-validation-for="TotalProfit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата</label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

<script type="text/javascript">
    function changeProfit() {
        $("#totalProfit").val($("#countOfKg").val() * 170)
    }
</script>
