@model IEnumerable<BlinBerry.Services.Common.SelesReport.Models.SelesReportDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Список отчетов</h1>

<p>
    <a asp-action="CreateNewReportAsync">Добавить отчет</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span style="color: blueviolet;">
                      
                        @Html.DisplayFor(modelItem => item.DayOfWeek)
                    </span>

                    <br />
                    <span style="font-size: x-small">  Продано кг : @item.CountOfKg</span>
                </td>

                <td>
                    @Html.ActionLink("Редактировать", "Create", new { wordId = item.Id }) 
                </td>
            </tr>
        }
    </tbody>
</table>

