@model BlinBerry.Data.Models.Entities.CommonMoneyAndProducts


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Войдите в ситему  <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Войти</a> </p>

</div>
